# Ignorer tout le contenu du dossier overlays
/overlays/*

# SAUF planning-generator.html
!/overlays/planning-generator.html

# Ignorer tous les fichiers à la racine
/*

# Ne pas ignorer le .gitignore, index.html et le dossier overlays
!.gitignore
!index.html
!/overlays/
