# Ignorer tout le contenu du dossier overlays
/overlays/*

# SAUF planning-generator.html et ses dépendances
!/overlays/planning-generator.html
!/overlays/assets/
!/overlays/assets/fond_stream.webm

# Ignorer tous les fichiers à la racine
/*

# Ne pas ignorer le .gitignore, index.html et le dossier overlays
!.gitignore
!index.html
!/overlays/
